.button{
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-radius: 5;
    -fx-text-fill: white;
}

.login-root{
 -fx-background-color:#191819;
 }

.create-root{
-fx-background-color:#191819;

}