.button{
    -fx-border-color: transparent;
}

.button:hover{
    -fx-background-color: rgba(0, 0, 0, 0.1);
}

.dashboard-side-pane{
    -fx-background-color: rgb(57, 61, 72);
}

.dashboard-user-pane{
    -fx-background-color: rgba(120, 120, 120, 0.1);
}

.dashboard-side-item{
    -fx-padding: 12px;
    -fx-background-color: transparent;
    -fx-border-width: 0 0 0 10px;
    -fx-border-color: rgba(0, 0, 0, 0.0);
}

.dashboard-side-item .label{
    -fx-padding: 0 0 0 12px;
}

.dashboard-side-item:hover{
    -fx-background-color: rgba(0,0,0, 0.1);
}

.active{
    -fx-border-color: #0279b8;
    -fx-background-color: rgba(30, 30, 30, 0.1);
}

.dashboard-entry-icon{
    -fx-fit-width: 24px;
}

.display-pic-box{
    -fx-padding: 12px;
}

.user-info-box{
    -fx-padding: 12px;
}

.label{
    -fx-text-fill: white;
}

.header-box{
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0, 0, 0);
}

.header-box .label{
    -fx-text-fill: black;
}

.header-box .title{
    -fx-font-size: 24px;
}

.dashboard-control-container{
    -fx-padding: 0 12px;
}

.deadlines{
    -fx-background-color: rgba(220, 220, 220, 1.0); 
}

.deadlines-grid-unit{
    -fx-background-color: rgba(250, 250, 250, 0.95);
}

.deadlines-title{
    -fx-padding: 12px;
    -fx-alignment: center;
    -fx-font-size: 24px; 
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.deadlines-entry:hover{
    -fx-background-color: rgba(0,0,0, 0.1);
}

.deadlines-entry-name{
    /*-fx-padding: 5px;*/
    -fx-text-fill: black;
}

.deadlines-entry-date{
    -fx-padding-right: 15px;
    -fx-padding-left: 30px;
    -fx-text-fill: black;
}

.deadlines-separator{
    -fx-background-color: black;
    -fx-background-radius: 4;
}

.assessment{
    /*-fx-background: rgba(220, 220, 220, 1.0);*/
    -fx-background-color: transparent;
}

.assessment-title{
    /*-fx-padding: 20 20 0 20;*/
    -fx-font-size: 24px; 
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.assessment-save-button{
    -fx-font-size: 14px;
    -fx-background-color: #0066ff;
    -fx-padding: 0 4 0 4;
}
.assessment-save-button:hover{
    -fx-background-color: #003d99;
}

.assessment-cancel-button{
    -fx-font-size: 14px;
    -fx-background-color: #cc0000;
    -fx-padding: 0 4 0 4;
}
.assessment-cancel-button:hover{
    -fx-background-color: #660000;
}

.assessment-delete-task{
    -fx-font-size: 14px;
    -fx-background-color: rgba(166, 166, 166,0.5);
}
.assessment-delete-task:hover{
    -fx-background-color: rgba(166, 166, 166,1.0);
}

.assessment-type{
    -fx-padding: 0 4 0 4;
    -fx-font-size: 12px; 
    -fx-text-fill: #0066cc;
    -fx-font-weight: bold;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-background-color: white;
    -fx-border-color: #cccccc;
}

.assessment-info{
    -fx-font-size: 16px; 
    -fx-text-fill: black;
}

.assessment-underline-hover:hover{
    /*-fx-text-decoration: underline;*/
    -fx-underline: true;
}


.assessment-tasks-label-bar{
    -fx-padding: 30 10 10 10;
    -fx-background-insets: 20 0 0 0;
    -fx-background-color: #a6a6a6;

}

.assessment-tasks-label{
    -fx-font-size: 18px; 
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.assessment-add-task-box{
    -fx-background-color: #737373;
    -fx-padding: 5 10 5 10;
}
.assessment-add-task-box:hover{
    -fx-background-color: rgb(57, 61, 72);
}

.assessment-add-task-label{
    -fx-padding: 0 0 0 10;
}

.assessment-task-entry{
    -fx-padding: 10;
    -fx-pref-width: 600px;
    -fx-background-color: rgb(255, 255, 255,0.8);
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 1;
    -fx-border-color: #a6a6a6;
}

.assessment-task-entry:hover{
    -fx-padding: 10;
    -fx-pref-width: 600px;
    -fx-background-color: rgb(100, 100, 100,0.1);
}

.assessment-task-entry-text{
    -fx-font-size: 16px; 
    -fx-text-fill: black;
}

.assessment-note-entry{
    -fx-background-color: rgb(255, 255, 255,0.8);
    -fx-border-width: 1;
    -fx-border-color: #a6a6a6;
    -fx-padding: 10;
}

.dashboard-delete-item{
    -fx-padding: 5px;
    -fx-background-color: transparent;
}

.dashboard-import-view .label{
    -fx-text-fill: black;
    -fx-font-size: 2em;
}

.dashboard-import-view .button{
    -fx-text-fill: black;
    -fx-border-color: grey;
}
